/* Table styles */
.mainTable{
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    margin-left: 100px;
    width: 400px;
    height: 80px;
    margin-top: 70px;
}
table,td, th{
    border: 2px solid black;
    height: 30px;
    text-align: center;
}
h3{
    float: left;
    margin-left: 100px;
}
th{
    font-size: larger;
}
td{
    font-size: larger;
}
.btn-primary{
    float: left;
    margin-left: 75px;
    font-size: larger;
    border-radius: 100px;
}
