<div class="body">
<div class="fm-header">
    <h3 class="fm-header__title">Calculator</h3>
</div>
<div class="subheading">
    <h2 style="text-align: center;">Operations</h2>
    <div>
        <button routerLink="/add" class="add">Addition</button>
        <button routerLink="/sub" class="sub">Substraction</button>
        <button routerLink="/mul" class="mul">Multiplication</button>
        <button routerLink="/div" class="div">Division</button>
    </div>
</div>
<section>
    <fieldset> 
        <router-outlet></router-outlet>
    </fieldset>
</section>
</div>