.num1 {
    margin: 8px;
    max-width: 90px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    font-size: 25px;
}
.num2{
    margin: 8px;
    max-width: 90px;
    margin-top: 15%;
    margin-left: -27.5%;;
    float: left;
    font-size: 25px;
}
.label1{
    float: left;
    margin-left: 20px;
    margin-top: 7%;
}

.label2{
    float: left;
    margin-left: -58%;
    margin-top: 15%;
}
#result{
    max-width: 90px;
    float: left;
    margin-left: -27.5%;
    margin-top: 100px;
    font-size: 25px;
}
.ans{
    font-size: 20px;
    margin-left: -58%;
    float: left;
    margin-top: 100px;
}
button{
    margin: 20px;
    width: 100px;
}
.add{
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-left: -50%;
    background-color: rgb(69, 157, 216);
    font-size: 17px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    margin-top: 200px;
    float: left;
}
.add:hover{
    background-color: rgb(200, 142, 224);
    color: black;
}
.reset{
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-left: -20%;
    background-color: chocolate;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    margin-top: 200px;
}
.reset:hover{
    background-color: rgb(148, 240, 148);
    color: black;
}


.container{
    border: 2px solid black;
    float: right;
    border-radius: 10px;
    border-collapse: collapse;
    width: 30%;
    height: 350px;
    margin-right: 40%;
    font-size: 18px;
    position: sticky;
}