.container{
    border: 2px solid black;
    width: 20%;
    height: 340px;
    border-collapse: collapse;
    border-radius: 8%;
    float: right;
    position: sticky;
    margin-right: 7%;
    
}

label{
    float: left;
}

button{
    margin: 5px;
}