<div class="fm-header">
    
    <h1 class="fm-header__title">
        <img src="assets/headerImages/5.png" class="fm-header__image" />
        <img src="assets/headerImages/3.png" class="fm-header__image" />
        <img src="assets/headerImages/1.png" class="fm-header__image" />
        <img src="assets/headerImages/7.png" class="fm-header__tict" />
        <img src="assets/headerImages/9.png" class="fm-header__image" />
        {{ title }}
        <img src="assets/headerImages/4.png" class="fm-header__img" />
        <img src="assets/headerImages/6.png" class="fm-header__img" />
        <img src="assets/headerImages/2.png" class="fm-header__img" />
        <img src="assets/headerImages/8.png" class="fm-header__tikt" />
        <img src="assets/headerImages/10.png" class="fm-header__img" />
    </h1>
    

</div>
