<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="reset">AC</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="onOperator('+')">+</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="onOperator('-')">-</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="onOperator('*')">*</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="onOperator('/')">/</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('1')">1</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('2')">2</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('3')">3</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('4')">4</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('5')">5</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('6')">6</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('7')">7</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('8')">8</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('9')">9</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('0')">0</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="onClickNumber('.')">.</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="onEvaluate()">=</button>
    </div>
    
</div>
