// #input, #result, .submit{
//     margin: 10px;
// }

 button{
    margin: 8px;
}
.container{
    margin-top: 30px;
    border-style: solid;
    padding-left: 30px;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    margin-left: 160px;

}

#result{
    float: right;
}
